body {
  background-color: antiquewhite;
}

h1 {
  text-decoration: underline;
  text-align: center;
  color: sienna;
}

a {
  background-color: burlywood;
  border-radius: 3rem;
  padding: 1rem;
  text-decoration: none;
  color: #111;
}

a:hover {
  text-decoration: underline;
  background-color: #fafce7;
}

.recipe-container {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.card {
  width: 600px;
  margin: 16px auto;
  padding: 8px;
}

.card img {
  max-width: 100%;
}
